body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

#app {
    margin-top: 30px;
}

#produtos-container {
    margin-bottom: 20px;
}

#resultado-container {
    margin-top: 30px;
}

input[type="number"] {
    width: 80px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}
